<partial src="_header.html" title="Minecraft"></partial>

<main class="main">
	<section class='section-content'>
		<div class="container">
			<div class="content-area">
				<div class="card-area">
					<div class="card">		
						<div class="card-photo-area" style="background-image: url('../images/card1.png'); ">
							<h3><a href="view-card.html">Самоцвет опыта</a></h3>
							<p>Средняя оценка <span>4,6</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Текстурпаки</a></li>
									<li><a href="#">128 х 128</a></li>	
								</ul>
							</div>
						</div>

						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-half-o active" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card">
						<div class="card-photo-area" style="background-image: url('../images/card2.png'); ">
							<h3><a href="view-card.html">Бочонок Эндера</a></h3>
							<p>Средняя оценка <span>3</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Скины</a></li>
									<li><a href="#">Мультфильмы</a></li>	
								</ul>
							</div>
						</div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-half-o active" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Бочонок Эндера - это мод, который позволяет просто и быстро транспортировать жидкости на большие дистанции. Он работает по системе цветового кода, что дает возможность создать 16 разных. Он работает по системе цветового кода
							</div>
						</div>
					</div> <!-- END CONTENT CARD-->
					<div class="card">
						<div class="card-photo-area" style="background-image: url('../images/card3.png'); ">
							<h3><a href="view-card.html">Битва Мобов</a></h3>
							<p>Средняя оценка <span>4,3</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Скины</a></li>
									<li><a href="#">Мобы</a></li>	
								</ul>
							</div>
						</div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-half-o active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Бочонок Эндера - это мод, который позволяет просто и быстро транспортировать жидкости на большие дистанции. Он работает по системе цветового кода, что дает возможность создатью Он работает по системе цветового кода, что дает возможность
							</div>
						</div>
					</div> <!-- END CONTENT CARD-->
					<div class="card">
						<div class="card-photo-area" style="background-image: url('../images/card4.png'); ">
							<h3><a href="view-card.html">Самоцвет опыта</a></h3>
							<p>Средняя оценка <span>4,6</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Текстурпаки</a></li>
									<li><a href="#">128 х 128</a></li>	
								</ul>
							</div>
						</div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-half-o active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом
							</div>
						</div>
					</div> <!-- END CONTENT CARD-->
					<div class="card">
						<div class="card-photo-area" style="background-image: url('../images/card5.png'); ">
							<h3><a href="view-card.html">Бочонок Эндера</a></h3>
							<p>Средняя оценка <span>3</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Скины</a></li>
									<li><a href="#">Мультфильмы</a></li>	
								</ul>
							</div>
						</div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-half-o active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Бочонок Эндера - это мод, который позволяет просто и быстро транспортировать жидкости на большие дистанции. Он работает по системе цветового кода, что дает возможность создать 16 разных. Он работает по системе цветового кода
							</div>
						</div>
					</div> <!-- END CONTENT CARD-->
					<div class="card">
						<div class="card-photo-area" style="background-image: url('../images/card6.png'); ">
							<h3><a href="view-card.html">Битва Мобов</a></h3>
							<p>Средняя оценка <span>4,2</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Скины</a></li>
									<li><a href="#">Мультфильмы</a></li>	
								</ul>
							</div>
						</div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Бочонок Эндера - это мод, который позволяет просто и быстро транспортировать жидкости на большие дистанции. Он работает по системе цветового кода, что дает возможность создатью Он работает по системе цветового кода, что дает возможность
							</div>
						</div>
					</div> <!-- END CONTENT CARD BANNER-->
					<div class="card main-banner">
						<a href="#">
							<img src="../images/banner.png" alt="main banner">
						</a>
					</div> <!-- END CONTENT CARD-->
					<div class="card">
						<div class="card-photo-area" style="background-image: url('../images/card6.png'); ">
							<h3><a href="view-card.html">Битва Мобов</a></h3>
							<p>Средняя оценка <span>4,2</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Скины</a></li>
									<li><a href="#">Мультфильмы</a></li>	
								</ul>
							</div>
						</div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-half-o active" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Бочонок Эндера - это мод, который позволяет просто и быстро транспортировать жидкости на большие дистанции. Он работает по системе цветового кода, что дает возможность создатью Он работает по системе цветового кода, что дает возможность
							</div>
						</div>
					</div> <!-- END CONTENT CARD-->
					<div class="card">
						<div class="card-photo-area" style="background-image: url('../images/card6.png'); ">
							<h3><a href="view-card.html">Битва Мобов</a></h3>
							<p>Средняя оценка <span>4,2</span></p>
							<div class="card-meta-link">
								<ul>
									<li><a href="#">Скины</a></li>
									<li><a href="#">Мультфильмы</a></li>	
								</ul>
							</div>
						</div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-rat">
									<ul>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star active" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-half-o active" aria-hidden="true"></i></li>
									</ul>
								</div>
							</div>
							<div class="card-main-text">
								Бочонок Эндера - это мод, который позволяет просто и быстро транспортировать жидкости на большие дистанции. Он работает по системе цветового кода, что дает возможность создатью Он работает по системе цветового кода, что дает возможность
							</div>
						</div>
					</div> <!-- END CONTENT CARD-->
					<div class="card">
						<a href="#">
							<img src="../images/banner-card.png" alt="banner card">
						</a>
					</div> <!-- END CONTENT CARD-->
				</div>

				<div class="content-right">
					<div class="content-right-item">
						<h2>Топ модов</h2>
						<ul class="two-column">
							<li><a href="#">Самоцвет опыта</a></li>
							<li><a href="#">Бочонок Эндера</a></li>
							<li><a href="#">Битва модов</a></li>
							<li><a href="#">Майнколонии</a></li>
							<li><a href="#">Самоцвет опыта</a></li>
							<li><a href="#">Бочонок Эндера</a></li>
							<li><a href="#">Битва модов</a></li>
							<li><a href="#">Майнколонии</a></li>
						</ul>
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<a href="#" class="right-banner">
							<img src="../images/banner-right.png" alt="right banner" />
						</a>
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<h2>Топ скины</h2>
						<ul>
							<li><a href="#">Улучшенная кладовая</a></li>
							<li><a href="#">Перекати-поле</a></li>
							<li><a href="#">Сила инвентаря</a></li>
							<li><a href="#">Зомби стэйк</a></li>
						</ul>
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<h2>Гайды</h2>
						<ul>
							<li><a href="#">Установка Minecrat Forge</a></li>
							<li><a href="#">Установка модов для Minecrat Forge</a></li>
							<li><a href="#">Установка команда для одиночной игры</a></li>
							<li><a href="#">Установка сервера</a></li>
							<li><a href="#">Установка аддонов на сервер</a></li>
						</ul>
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<h2>Топ карты</h2>
						<ul>
							<li><a href="#">Карта Soul Snatchers для Minecraft PE</a></li>
							<li><a href="#">Карта Sky Run для Minecraft PE</a></li>
							<li><a href="#">Карта Kingdom of Avon для Minecraft PE</a></li>
							<li><a href="#">Карта Aircrafts для Minecraft PE</a></li>
							<li><a href="#">Мод EasyCraft для Minecraft PE</a></li>
						</ul> 
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<h2>Список серверов</h2>
						<ul>
							<li><a href="#">Сервер 1</a></li>
							<li><a href="#">Сервер 2</a></li>
							<li><a href="#">Сервер 3</a></li>
						</ul>
					</div> <!-- END RIGHT ITEM -->	 
				</div> <!-- END RIGHT CONTENT-->
			</div>
		</div>
		<div class="container">
			<div class="paggination">
				<ul>
					<li><a href="#" class="active">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>			
		</div>	
	</section>
</main><!-- /.main -->
<partial src="_footer.html"></partial>