<partial src="_header_other.html" title="Minecraft"></partial>
<div class="breadcrumbs-area">
	<div class="container">
		<ul>
			<li><a href="#">Главная</a></li>
			<li class="active"><a href="#">Новости</a></li>
		</ul>
	</div>
</div>
<main class="main">
	<section class='section-content'>
		<div class="container">
			<div class="content-header-area">
				<div class="content-header-item content-header-item-news">
					<h2>Новости</h2>
				</div>
				<div class="content-header-item content-header-item-news">
					<form action="#" method="post">
						<input type="text" placeholder="Поиск по новостям">
					</form>
				</div>
			</div>
			<div class="content-area">
				<div class="card-area">
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
							
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-date" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
								
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
								
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
								
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
							
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
								
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
								
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
					<div class="card card-news">	
						<div class="card-photo-area" style="background-image: url('../images/news.png'); "></div>
						<div class="card-text-area">
							<div class="card-main-info">
								<div class="card-view">
									<i class="fa fa-eye" aria-hidden="true"></i>
									<span>12 536</span>
								</div>
								<div class="card-comment">
									<i class="fa fa-commenting-o" aria-hidden="true"></i>
									<span>2 421</span>
								</div>
								<div class="card-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<span>14/02/2018</span>
								</div>
							</div>
							<div class="card-main-text">
								<p>Самоцвет опыта это просто маленькая вещица, которую удобно держать при себе в инвентаре.Она позволяет удобно сохранять и торговать своим опытом  вплоть до 50-го уровня. Так же Она позволяет удобно сохранять и торговать своим опытом</p>
							
							</div>
							<div class="card-readmore">
								<p><a href="news-view.html">Читать далее >></a></p>
							</div>
						</div>
					</div><!-- END CONTENT CARD-->
				</div> <!-- END LEFT CONTENT-->

				<div class="content-right">
					<div class="content-right-item">
						<h2>Топ гайдов</h2>
						<ul>
							<li><a href="#">Установка Minecrat Forge</a></li>
							<li><a href="#">Установка Minecrat Forge</a></li>
							<li><a href="#">Установка игры</a></li>
							<li><a href="#">Установка сервера</a></li>
							<li><a href="#">Установка Minecrat Forge</a></li>
							<li><a href="#">Установка Minecrat Forge</a></li>
							<li><a href="#">Установка игры</a></li>
							<li><a href="#">Установка сервер</a></li>
						</ul>
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<h2>Топ модов</h2>
						<ul>
							<li><a href="#">Самоцвет опыта</a></li>
							<li><a href="#">Бочонок Эндера</a></li>
							<li><a href="#">Битва модов</a></li>
							<li><a href="#">Майнколонии</a></li>
							<li><a href="#">Сила инвентаря</a></li>
						</ul>
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<h2>Топ Скачиваемых серверов</h2>
						<ul>
							<li><a href="#">Карта Soul Snatchers для Minecraft PE</a></li>
							<li><a href="#">Карта Sky Run для Minecraft PE</a></li>
							<li><a href="#">Карта Kingdom of Avon для Minecraft PE</a></li>
							<li><a href="#">Карта Aircrafts для Minecraft PE</a></li>
							<li><a href="#">Мод EasyCraft для Minecraft PE</a></li>
						</ul>
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<h2>Топ скины</h2>
						<ul>
							<li><a href="#">Улучшенная кладовая</a></li>
							<li><a href="#">Перекати-поле</a></li>
							<li><a href="#">Сила инвентаря</a></li>
							<li><a href="#">Зомби стэйк</a></li>
						</ul> 
					</div> <!-- END RIGHT ITEM -->
					<div class="content-right-item">
						<a href="#" class="right-banner">
							<img src="../images/banner-right.png" alt="right banner" />
						</a>
					</div> <!-- END RIGHT ITEM -->	 
				</div> <!-- END RIGHT CONTENT-->
			</div>
		</div>
		<div class="container">
			<div class="paggination">
				<ul>
					<li><a href="#" class="active">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>			
		</div>	
	</section>
</main><!-- /.main -->
<partial src="_footer.html"></partial>