<footer class="footer">
	<div class="container">
		<div class="footer-area">
			<div class="footer-item">
				<div class="footer-logo">
					<p>
						<a href="#">
							<img src="../images/footer_logo.png" alt="">
						</a>
					</p>
				</div>
				<div class="header-top-social footer-social">
					<ul>
						<li><a href="http://fb.com"><i class="fa fa-facebook"></i></a></li>
						<li><a href="http://google.com.ua"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="https://vk.com"><i class="fa fa-vk"></i></a></li>
						<li><a href="https://youtube.com"><i class="fa fa-youtube-play"></i></a></li>
						<li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>			
					</ul>	
				</div>
				<div class="footer-email">
					<p>
						<i class="fa fa-envelope-o"></i>
						<a href="mailto:info@mc.com">info@mc.com</a>
					</p>
				</div>
			</div>
			<div class="footer-item">
				<h3>ТОП Моды</h3>
				<ul>
					<li><a href="#">Самоцвет опыта</a></li>
					<li><a href="#">Бочонок Эндера</a></li>
					<li><a href="#">Битва модов</a></li>
					<li><a href="#">Майнколонии</a></li>
					<li><a href="#">Перекатиполе</a></li>
				</ul>
			</div>
			<div class="footer-item">
				<h3>ТОП Карты</h3>
				<ul>
					<li><a href="#">Карта Soul Snatchers для Minecraft PE</a></li>
					<li><a href="#">Карта Sky Run для Minecraft PE</a></li>
					<li><a href="#">Карта Kingdom of Avon для Minecraft PE</a></li>
					<li><a href="#">Карта Aircrafts для Minecraft PE</a></li>
					<li><a href="#">Мод EasyCraft для Minecraft PE</a></li>
				</ul> 
			</div>
			<div class="footer-item">
				<h3>ТОП Скины</h3>
				<ul>
					<li><a href="#">Улучшенная кладовая</a></li>
					<li><a href="#">Перекати-поле</a></li>
					<li><a href="#">Сила инвентаря</a></li>
					<li><a href="#">Зомби стэйк</a></li>
				</ul>
			</div>
			<div class="footer-item">
				<h3>Блог</h3>
				<ul>
					<li><a href="#">Битва модов</a></li>
					<li><a href="#">Сила инвентаря</a></li>
					<li><a href="#">Майнколонии</a></li>
				</ul>
			</div>
		</div> <!-- End footer area-->
		<div class="footer-copyright">
			<p>Разработано в <a href="http://sponge.com.ua/">Sponge D&D</a></p>
		</div> <!-- End footer copyright -->
	</div>
	<div class="return-up">
		<a href="#"><i class="fa fa-angle-up"></i></a>
	</div>
</footer><!-- /.footer -->
<script src="/lib/jquery/jquery-1.12.0.min.js"></script>
<script src="/lib/fontawesome/fontawesome.js"></script>
<script src="/lib/owlcarousel/owl.carousel.js"></script>
<script src="/js/script.js"></script>
</body>
</html>