<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@@title</title>
	<link rel="stylesheet" href="lib/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="lib/owlcarousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="header">
	<div class="header-top-area">
		<div class="container">
			<div class="header-top-social">
				<ul>
					<li><a href="http://fb.com"><i class="fa fa-facebook"></i></a></li>
					<li><a href="http://google.com.ua"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="https://vk.com"><i class="fa fa-vk"></i></a></li>
					<li><a href="https://youtube.com"><i class="fa fa-youtube-play"></i></a></li>
					<li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>			
				</ul>	
			</div>
		</div>
	</div>
	<div class="header-nav-line">
		<div class="container">
			<div class="header-nav-area">
				<div class="header-nav-logo">
					<a href="/">
						<img src="../images/head_logo.png" alt="">
					</a>
				</div>
				<div class="header-nav">
					<div class="header-nav-burger">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</div>
					<nav>
						<ul class="header-nav-menu">
							<li><a href="download.html">Скачать MINECRAFT</a></li>
							<li><a href="" class="dropdown">Моды <i class="fa fa-angle-down" aria-hidden="true"></i></a>
								<ul class="dropdown-menu">
									<li><a href="mods.html">Версия 1.8</a></li>
									<li><a href="mods.html">Версия 1.7</a></li>
									<li><a href="mods.html">Версия 1.6</a></li>
									<li><a href="mods.html">Версия 1.5</a></li>
									<li><a href="mods.html">Версия 0.4</a></li>
									<li><a href="mods.html">Версия 0.3</a></li>
									<li><a href="mods.html">Версия 1.3</a></li>
									<li><a href="mods.html">Версия 1.2</a></li>
									<li><a href="mods.html">Версия 1.04</a></li>
									<li><a href="mods.html">Версия 1.01</a></li>
								</ul>
							</li>
							<li><a href="" class="dropdown">Скины <i class="fa fa-angle-down" aria-hidden="true"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#">Версия 1.8</a></li>
									<li><a href="#">Версия 1.7</a></li>
									<li><a href="#">Версия 1.6</a></li>
									<li><a href="#">Версия 1.5</a></li>
									<li><a href="#">Версия 0.4</a></li>
									<li><a href="#">Версия 0.3</a></li>
									<li><a href="#">Версия 1.3</a></li>
									<li><a href="#">Версия 1.2</a></li>
									<li><a href="#">Версия 1.04</a></li>
									<li><a href="#">Версия 1.01</a></li>
								</ul>
							</li>
							<li><a href="maps.html">Карты</a>
							</li>
							<li><a href="">Сервера</a></li>
							<li><a href="" class="dropdown">Текстурпаки <i class="fa fa-angle-down" aria-hidden="true"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#">Версия 1.8</a></li>
									<li><a href="#">Версия 1.7</a></li>
									<li><a href="#" class="dropdown-second">Версия 1.6<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-second-menu">
											<li><a href="#">Версия 1.8</a></li>
											<li><a href="#">Версия 1.7</a></li>
											<li><a href="#">Версия 1.6</a></li>
											<li><a href="#">Версия 1.5</a></li>
											<li><a href="#">Версия 0.4</a></li>
											<li><a href="#">Версия 0.3</a></li>
											<li><a href="#">Версия 1.3</a></li>
											<li><a href="#">Версия 1.2</a></li>
											<li><a href="#">Версия 1.04</a></li>
											<li><a href="#">Версия 1.01</a></li>
										</ul>
									</li>
									<li><a href="#">Версия 1.5</a></li>
									<li><a href="#">Версия 0.4</a></li>
									<li><a href="#">Версия 0.3</a></li>
									<li><a href="#">Версия 1.3</a></li>
									<li><a href="#">Версия 1.2</a></li>
									<li><a href="#">Версия 1.04</a></li>
									<li><a href="#">Версия 1.02221</a></li>
								</ul>
							</li>
							<li><a href="">Ресурспаки</a></li>
							<li><a href="">Сиды</a></li>
							<li><a href="" class="dropdown">Шейдеры <i class="fa fa-angle-down" aria-hidden="true"></i></a>
								<ul class="dropdown-menu">
									<li><a href="#">Версия 1.8</a></li>
									<li><a href="#">Версия 1.7</a></li>
									<li><a href="#" class="dropdown-second">Версия 1.6<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-second-menu">
											<li><a href="#">Версия 1.8</a></li>
											<li><a href="#">Версия 1.7</a></li>
											<li><a href="#">Версия 1.6</a></li>
											<li><a href="#">Версия 1.5</a></li>
											<li><a href="#">Версия 0.4</a></li>
											<li><a href="#">Версия 0.3</a></li>
											<li><a href="#">Версия 1.3</a></li>
											<li><a href="#">Версия 1.2</a></li>
											<li><a href="#">Версия 1.04</a></li>
											<li><a href="#">Версия 1.01</a></li>
										</ul>
									</li>
									<li><a href="#">Версия 1.5</a></li>
									<li><a href="#">Версия 0.4</a></li>
									<li><a href="#">Версия 0.3</a></li>
									<li><a href="#">Версия 1.3</a></li>
									<li><a href="#">Версия 1.2</a></li>
									<li><a href="#">Версия 1.04</a></li>
									<li><a href="#">Версия 1.01</a></li>
								</ul>
							</li>
							<li><a href="">Гайды</a></li>
							<li><a href="news.html">Новости</a></li>
							<li class="header-top-social-mob">
								<ul>
									<li><a href="http://fb.com"><i class="fa fa-facebook"></i></a></li>
									<li><a href="http://google.com.ua"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="https://vk.com"><i class="fa fa-vk"></i></a></li>
									<li><a href="https://youtube.com"><i class="fa fa-youtube-play"></i></a></li>
									<li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</li>
						</ul>	
					</nav>
				</div>
				<div class="header-nav-search">
					<a href="#"><i class="fa fa-search"></i></a>
				</div>
			</div>
			<div class="search-area">
		<div class="container">
			<form action="#" method="post" class="search-area-form">
				<input type="text" id="search-val" name="search-val" value="" placeholder="Что ищем?">
				<span><img src="../images/close.png" alt=""></span>
			</form>
		</div>
		</div>
		</div>
			
	</div>
	
	</div>
</header><!-- /.header -->